<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="#{overview}"></title>
</head>
<nav>
    <ul>
        <li> <a href="/tasks" th:text="#{taskoverview}"></a></li>
        <li><a href="/tasks/new" th:text="#{addtask}"></a> </li>
    </ul>
</nav>
<span th:text="#{difflang}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{langeng}"></option>
    <option value="nl" th:text="#{langnl}"></option>
</select>
<body>
<h1 th:text="#{tasks}"></h1>
<th:block th:each="error : ${errors}">
    <p th:text="${error}"></p>
</th:block>
<ul>
    <th:block th:each="task : ${tasks}">
        <a th:href="@{/tasks/{id}(id = ${task.id})}"> <li th:text="${task.toString()}"></li> </a>
        <a th:href="@{/tasks/edit/{id}(id = ${task.id})}" th:text="#{edit}"></a>
        <a th:href="@{/tasks/{id}/sub/create(id = ${task.id})}" th:text="#{create subtask}"></a>
        <form method="post" th:action="@{/tasks/delete/{id}(id = ${task.id})}" class="inline">
            <input type="hidden" name="extra_submit_param" value="extra_submit_value">
            <button type="submit" name="submit_param" value="submit_value" class="link-button" th:text="#{delete task}">
            </button>
        </form>
    </th:block>
</ul>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</html>

