<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="#{task detail}"></title>
</head>
<nav>
    <ul>
        <li> <a href="/tasks" th:text="#{taskoverview}"></a></li>
        <li><a href="/tasks/new" th:text="#{addtask}"></a> </li>
        <li><a th:href="@{/tasks/{id}(id = ${subtask.parentID})}" th:text="#{main task}"></a> </li>
    </ul>
</nav>
<span th:text="#{difflang}"></span>:
<select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{langeng}"></option>
    <option value="nl" th:text="#{langnl}"></option>
</select>
<body>
<h1 th:text="#{subtask detail}"></h1>
<table>
    <tr>
        <th th:text="#{title}"></th>
        <td th:text="${subtask.title}"></td>
    </tr>
    <tr>
        <th th:text="#{description}"></th>
        <td th:text="${subtask.description}"></td>
    </tr>
    <tr>
        <th th:text="#{due date}"></th>
        <td th:text="${subtask.dueDate}"></td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/tasks/sub/edit/{subId}(subId = ${subtask.getsId()})}" th:text="#{edit subtask}"></a>
        </td>
    </tr>
</table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
</html>
